<style>	
    .table-custom2 {
        font-size : 12px;
        border-collapse : collapse;
        width : 100%;
    }
</style>

<h4 align="center">DAFTAR NOMINATIF PERJALANAN DINAS <br/> SEKRETARIAT DPRD PEMERINTAHAN DAERAH KOTA CIMAHI</h4>
<h5 align="center"> JALUR UDARA</h5>
<a href="http://localhost/e_reses/Export/export_bidang?bidang=Bidang Pemerintahan&pilihan=&parameter=" type="button" class="btn btn-primary btn-block btn-sm text-size"> Eksport Jadi Excel </a>
<br>
<br>

<table border="1"  class="table-custom2">
    <tbody>
    <tr> 
        <td rowspan="2" style="text-align:center;font-weight: bold;"> NO. </td>
        <td colspan="3" style="text-align:center;font-weight: bold;"> SURAT TUGAS </td>    
        <td colspan="7" style="text-align:center;font-weight: bold;"> MASKAPAI </td>    
        <td colspan="3" style="text-align:center;font-weight: bold;"> UANG HARIAN </td>    
        <td colspan="3" style="text-align:center;font-weight: bold;"> UANG SAKU </td>    
        <td colspan="5" style="text-align:center;font-weight: bold;"> AKOMODASI / KONTRIBUSI </td>    
        <td rowspan="2" style="text-align:center;font-weight: bold;"> UANG REPRESENTASI </td>    
        <td rowspan="2" style="text-align:center;font-weight: bold;"> TRANSPORT LOKAL </td>    
        <td rowspan="2" style="text-align:center;font-weight: bold;"> TRANSPORT BANDARA </td>    
        <td rowspan="2" style="text-align:center;font-weight: bold;"> TOTAL </td>    
    </tr>    
        
    <tr>
        <td style="text-align:center;font-weight: bold;">URAIAN</td>
        <td style="text-align:center;font-weight: bold;">NO. SURAT TUGAS</td>
        <td style="text-align:center;font-weight: bold;">NAMA</td>
        <td style="text-align:center;font-weight: bold;">NAMA MASKAPAI</td>
        <td style="text-align:center;font-weight: bold;">NO. TIKET</td>
        <td style="text-align:center;font-weight: bold;">ASAL</td>
        <td style="text-align:center;font-weight: bold;">TUJUAN</td>
        <td style="text-align:center;font-weight: bold;">TANGGAL BERANGKAT</td>
        <td style="text-align:center;font-weight: bold;">TANGGAL KEMBALI</td>
        <td style="text-align:center;font-weight: bold;">HARGA TIKET</td>
        <td style="text-align:center;font-weight: bold;">JMLH HARI</td>
        <td style="text-align:center;font-weight: bold;">RATE</td>
        <td style="text-align:center;font-weight: bold;">JUMLAH</td>
        <td style="text-align:center;font-weight: bold;">JMLH HARI</td>
        <td style="text-align:center;font-weight: bold;">RATE</td>
        <td style="text-align:center;font-weight: bold;">JUMLAH</td>
        <td style="text-align:center;font-weight: bold;">NAMA HOTEL</td>
        <td style="text-align:center;font-weight: bold;">TANGGAL MENGINAP</td>
        <td style="text-align:center;font-weight: bold;">JMLH HARI / PAKET</td>
        <td style="text-align:center;font-weight: bold;">RATE</td>
        <td style="text-align:center;font-weight: bold;">JUMLAH</td>
     </tr>
     
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    </tbody>
</table>

