<style>	
    .table-custom2 {
        font-size : 12px;
        border-collapse : collapse;
        width : 100%;
    }
</style>

<h4 align="center">DAFTAR NOMINATIF PERJALANAN DINAS <br/> SEKRETARIAT DPRD PEMERINTAHAN DAERAH KOTA CIMAHI TAHUN ... </h4>
<h5 align="center"> JALUR DARAT</h5>
<a href="http://localhost/e_reses/Export/export_bidang?bidang=Bidang Pemerintahan&pilihan=&parameter=" type="button" class="btn btn-primary btn-block btn-sm text-size"> Eksport Jadi Excel </a>
<br>
<br>

<table border="1"  class="table-custom2">
    <tbody>
    <tr> 
        <td rowspan="2" style="text-align:center;font-weight: bold;"> NO. </td>
        <td colspan="3" style="text-align:center;font-weight: bold;"> SURAT TUGAS </td>    
        <td colspan="10" style="text-align:center;font-weight: bold;"> TRANSPORTASI </td>    
        <td colspan="5" style="text-align:center;font-weight: bold;"> AKOMODASI </td>    
        <td rowspan="2" style="text-align:center;font-weight: bold;"> NAMA GU </td>  
    </tr>    
        
    <tr>
        <td style="text-align:center;font-weight: bold;">URAIAN</td>
        <td style="text-align:center;font-weight: bold;">NO. SURAT TUGAS</td>
        <td style="text-align:center;font-weight: bold;">NAMA</td>
        <td style="text-align:center;font-weight: bold;">NAMA RENTAL</td>
        <td style="text-align:center;font-weight: bold;">ALAMAT RENTAL</td>
        <td style="text-align:center;font-weight: bold;">KONTAK RENTAL</td>
        <td style="text-align:center;font-weight: bold;">ASAL</td>
        <td style="text-align:center;font-weight: bold;">TUJUAN</td>
        <td style="text-align:center;font-weight: bold;">TANGGAL BERANGKAT</td>
        <td style="text-align:center;font-weight: bold;">TANGGAL KEMBALI</td>
        <td style="text-align:center;font-weight: bold;">JMLH HARI</td>
        <td style="text-align:center;font-weight: bold;">RATE</td>
        <td style="text-align:center;font-weight: bold;">JUMLAH</td>
        <td style="text-align:center;font-weight: bold;">NAMA HOTEL</td>
        <td style="text-align:center;font-weight: bold;">TANGGAL MULAI</td>
        <td style="text-align:center;font-weight: bold;">TANGGAL SELESAI</td>
        <td style="text-align:center;font-weight: bold;">RATE</td>
        <td style="text-align:center;font-weight: bold;">JUMLAH</td>
     </tr>
     
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    </tbody>
</table>

